
.todaysReminders{
	padding-top: 30px;
	margin: 0 auto;
}

.remindersh1{
	font-size: 30px;
}

.remindersWell{
	padding: 15px;
	margin: 20px 40px;
	border:0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #4d6684; 
	color: #fff;
}

.redBG {
  background-color: #cb4e44;

}

.greenBG {
	background-color: #26b999; 
}