
#text {
  color: #384a83;
  font-size: 20px;
  line-height: 1.5;
  width: 40%;
  background: #fff;
  position: absolute;
  top: 225px;
  left: 20px;
  padding: 25px;
  opacity: .8;
}

.learn-btn {
  margin-top: 15px;
  background-color: #26b999;
  color: #fff;
}

#learn-more {
  padding-top: 40px;
  padding-bottom: 40px;
}

.icon-info {
  text-align: center;
  border-radius: 5px;
}

.icon-title {
  padding-bottom: 20px;
}

.caption {
  padding-top: 30px;
}

.main-image {
  height: 600px;
  width: 100%;
}


.grid{
  margin: 10px auto 90px auto;
}

.column{
  padding:0px 40px 0px 40px;
}

.gridContainer{
  margin:0;
}

.rowGrid{
  width: 100vw
}

.grid{
  margin: 0px;
}